@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 300;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(246,246,246,1) 37%, rgba(245,245,245,1) 100%);
}

h1 {
    @apply .text-3xl .text-black .py-4 .font-semibold
    }

h2 {
    @apply .text-black .pt-4 .pb-1 .text-xl
    }

h3 {
    font-size: 1.2rem;
    @apply .text-black .py-2 .font-semibold
    }


strong {
    font-weight: 400;
}

blockquote {
    @apply .pl-2 .border-l-2 .border-gray-500 .italic .text-sm
}

.embedded_image>p {
    @apply .text-center .italic .text-gray-800 .leading-loose
}

.embedded_image>div{
    @apply .flex .flex-wrap .justify-center
}

.embedded_image {
    @apply .my-4
}

.embedded_image>img {
    display: block;
    margin: 0 auto;
}

p {
    @apply .mb-2
}

code {
    @apply .bg-gray-100 .px-2 .rounded .text-sm
}


ul {
    @apply .py-2
}

ul > li {
    @apply .mb-2
}

pre {
    overflow-x: scroll;
    line-height: 1.6;
    font-size: 0.8rem;
    @apply .w-full .my-4 .bg-white .border .border-gray-400 .rounded .py-2 .px-3 .shadow
}

hr {
    margin-top: 2rem;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #CBD5E0;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #CBD5E0;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

@screen sm {
    h2 {
        @apply .text-2xl
    }
}


@screen dark {
    body {
        background: rgb(0, 0, 0);
    }

    h1 {
        @apply .text-gray-300
    }

    h2 {
        @apply .text-gray-400
    }

    h3 {
        @apply .text-gray-500
    }

    p {
        @apply .text-gray-500
    }

    code {
        @apply .bg-gray-800 .text-gray-500 .border-gray-600 .border
    }

    pre {
        @apply .bg-gray-900 .border-gray-700
    }

    a {
        @apply .text-blue-600
    }

    a:hover {
        @apply .text-blue-300 .underline
    }
}
