@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
    @apply .text-3xl .text-black
}

h2 {
    font-size: 2rem;
    @apply .pt-2 .text-black
}

h3 {
    font-size: 1.5rem;
    @apply .pt-2 .text-black
}

.embedded_image>p {
    @apply .text-center .italic .text-gray-800 .leading-loose
}

.embedded_image>div{
    @apply .flex .flex-wrap .justify-center
}

.embedded_image {
    @apply .my-4
}

.embedded_image>img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 1.1rem;
    @apply .leading-relaxed .py-4
}

code {
    @apply .text-red-600 .bg-gray-200 .px-1 .rounded .text-sm
}

ul {
    @apply .list-disc .p-2 .m-4
}

pre.ql-syntax {
    overflow-x: auto;
    @apply .my-6 .bg-gray-100 .border .border-gray-200 .rounded-lg .py-4 .px-6 .shadow-md
}

a {
    @apply .text-blue-600
}

a:hover {
    @apply .text-blue-300 .underline
}
